name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # Job 1 : Exécute uniquement les tests unitaires
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
      - name: Run Unit Tests
        # On exclut explicitement le test d'intégration ici
        run: mvn test -Dtest=PricingServiceTest,PasswordPolicyTest

  # Job 2 : Exécute les tests d'intégration, seulement si le Job 1 réussit
  integration-tests:
    runs-on: ubuntu-latest
    needs: unit-tests # Dépendance : unit-tests doit passer
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
      - name: Run Integration Tests
        # On lance uniquement le test d'intégration
        run: mvn test -Dtest=PricingIntegrationTest